@model IEnumerable<TestTwinCoreProject.Models.Note>
@{
    ViewBag.Title = "Щоденик";
}

<a asp-action="Create">Додати нотатку</a>

<table class="table">

    <tr>
        <th>Id</th>
        <th>User id</th>
        <th>Заголовок</th>
        <th>Вміст</th>
        <th>Дата</th>
        <th></th>
    </tr>
@foreach (var note in Model)
{
    <tr>
        <td>@note.Id</td>
        <td>@note.AccountId</td>
        <td>@note.Title</td>
        <td>@note.Content</td>
        <td>@note.DateTime</td>
        <td>

            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@note.Id">Изменить</a>
            <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@note.Id">Удалить</a>

        </td>
    </tr>
}
</table>